@import './base.css';

#app, html, body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  max-width: 100%;
  width: 100%;
  height: 100%;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    filter: brightness(1.1)
  }
}

body {
  margin: 0;
  padding: 0;
}