@import './base.css';

#app, html, body {
  display: grid;
  margin: 0 auto;
  font-weight: normal;
  align-items: center;
  max-width: 100%;
  /* border: 1px solid rgb(255, 0, 162); */
  justify-content: center;
  width: 100%;

}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    filter: brightness(1.1)
  }
}

body {
  /* display: flex; */
  justify-content: center; /* ADD THIS LINE to center #app horizontally */
  /* align-items: flex-start; */
  /* border: 1px solid orange; */
  justify-content: flex-center;
  display: flex;
  margin: 0 auto;
}